@import "~font-awesome/scss/font-awesome";

@import "../css/compoents/select2.min.css";
@import "../css/compoents/daterangepicker.css";

@import "../css/dashboard/adminlte.min.css";
@import "../css/dashboard/admin.css";

