// General CSS Files
@import "~bootstrap/scss/bootstrap";

// CSS Libraries
@import "~jqvmap/dist/jqvmap.min.css";
@import "~summernote/dist/summernote-bs4.css";
@import "~owl.carousel2/dist/assets/owl.carousel.min.css";
@import "~owl.carousel2/dist/assets/owl.theme.default.min.css";

// Template CSS
@import "../css/stisla/style.css";
@import "../css/stisla/components.css";

.dropdown-menu {
    border: 0px;
}