{% extends "base.html" %}

{% block page_title %}{% trans %}Unauthorized{% endtrans %}{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <h1>401</h1>
        <p>{% trans %}You are not authorized to see this page. Please {% endtrans %}<a
                href="{{ url_for('account.login')}}">{% trans %}log in{% endtrans %}</a>{% trans %} or{% endtrans %}
            <a href="{{ url_for('account.signup') }}">{% trans %}create a new account{% endtrans %}</a>.
        </p>
    </div>
</div>
{% endblock %}
