
{% extends "base.html" %}

{% block page_title %}{% trans %}Page Not Found{% endtrans %}{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="text-center">
        <img class="lazyload lazypreload" data-src="{{ url_for('static', filename='img/404.svg') }}">
        <h2>{% trans %}Sorry, that page doesn't exist.{% endtrans %}</h2>
        <p>{% trans %}Want to{% endtrans %} <a href="{{ url_for('public.home') }}">{% trans %}go home{% endtrans %}</a> {% trans %}instead{% endtrans %}?</p>
    </div>
</div>
{% endblock %}

