
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to flask shop</h1>

    <p>This Project is based on <a href="https://github.com/summerblue/laravel-shop" target="_blank">Laravel-shop</a>
        and use flask to build it!</p>
    <p><a href="https://github.com/hjlarry/flask-shop" class="btn btn-primary btn-large">Github &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
      <div class="col-lg-6">
      <h2><i class="fa fa-code"></i> Products</h2>
          <p><a class="btn btn-default" href="{{ url_for('product.index') }}">Go &raquo;</a></p>
    </div>
      <div class="col-lg-6">
          <h2><i class="fa fa-flask"></i> Admin</h2>
          <p><a href="{{ url_for('admin.index') }}" class="btn btn-default">Go &raquo;</a></p>
   </div>
  </div><!-- /.row -->
</div>
{% endblock %}

