{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="text-center">
                            Login
                        </h2>
                    </div>

                    <div class="panel-body">
                        <form class="form-horizontal" method="POST" action="">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                {{ form.username.label(class_="control-label col-sm-2") }}
                                <div class="col-sm-9">
                                    {{ form.username(class_="form-control") }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form.password.label(class_="control-label col-sm-2") }}
                                <div class="col-sm-9">
                                    {{ form.password(class_="form-control") }}
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <p>
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                </p>
                                <p><em>Haven`t registered?</em> Click <a
                                        href="{{ url_for('public.register') }}">here</a> to register.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

