[[source]]

url = "http://pypi.douban.com/simple"
verify_ssl = false
name = "pypi"


[global]

trusted-host = "files.pythonhosted.org"


[packages]

sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-login = "*"
"dogpile.cache" = "*"
requests = "*"
flask-migrate = "*"
pymysql = "*"
flask-bcrypt = "*"
flask-debugtoolbar = "*"
sqlalchemy-utils = "*"
flask-webpack = "*"
mysqlclient = "*"
faker = "*"
python-alipay-sdk = "*"
libgravatar = "*"
bootstrap-flask = "*"
flask-restplus = "*"
flask-whooshalchemyplus = "*"
python-dotenv = "*"
phonenumbers = "*"
phonenumberslite = "*"
redis = "*"


[dev-packages]



[requires]

python_version = "3.6"
