{% import 'dashboard/_macros.html' as macros%}
{% import 'dashboard/_vendor.html' as vendor%}
{% extends 'dashboard/layout.html' %}
{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% if 'edit' in request.path %}Edit{% else %}Create{% endif %} Page</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="POST" action="">
                        <div class="card-body">
                            {{ form.hidden_tag() }}
                            {{ vendor.render_field(form.title) }}
                            {{ vendor.render_field(form.slug) }}
                            {{ macros.render_boolean_field(form.is_visible, 'Show') }}
                            {{ vendor.render_field(form.content) }}
                            <div id="text-editor">
                                <p>
                                    {{form.content.data | safe}}
                                </p>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            {{ macros.render_submit(form.submit) }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block tail_js %}
<script src="{{ url_for('static', filename='build/dashboard/sitepage.js') }}"></script>
{% endblock %}