{% extends 'dashboard/layout.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block head_tail %}
    <link rel="stylesheet" href="https://unpkg.com/admin-lte@3.2/dist/css/adminlte.min.css">
    <link href="https://unpkg.com/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard/main.css') }}">
{% endblock %}

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">
                                {% if 'edit' in request.path %}{% trans %}Edit{% endtrans %}{% else %}{% trans %}Create
                                {% endtrans %}{% endif %}
                                {% trans %}Sale{% endtrans %}</h3>
                        </div>
                        <div class="card-body">
                            {{ render_form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block tail_js %}
    <script src="https://unpkg.com/tom-select@2.2.2/dist/js/tom-select.base.min.js"></script>
    <script>
        document.querySelectorAll('select').forEach((el) => {
            let settings = {};
            new TomSelect(el, settings);
        });
    </script>
{% endblock %}
