{% extends "layout.html" %} {% block page_title %} My favorite {% endblock %}
{% block content_class %}
    products-favorites-page
{% endblock content_class %}
{% block content %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">My Favorites</div>
                <div class="panel-body">
                    <div class="row products-list">
                        {% for product in products %}
                            <div class="col-xs-3 product-item">
                                <div class="product-content">
                                    <div class="top">
                                        <div class="img">
                                            <a href="{{ url_for('product.show', id=product.id) }}">
                                                <img src="{{ product.image }}" alt="">
                                            </a>
                                        </div>
                                        <div class="price"><b>$</b>{{ product.price }}</div>
                                        <a href="{{ url_for('product.show', id=product.id) }}">{{ product.title }}</a>
                                    </div>
                                    <div class="bottom">
                                        <div class="sold_count">Sold <span>{{ product.sold_count }}</span></div>
                                        <div class="review_count">Reviews <span>{{ product.review_count }}</span></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="pull-right">{{ macros.pagination_widget(pagination, '.index') }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

