{% extends "layout.html" %} {% block page_title %} {{ product.title }} {% endblock %} {% block content_class %}
    products-show-page{% endblock content_class %} {% block content %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-default">
                <div class="panel-body product-info">
                    <div class="row">
                        <div class="col-sm-5">
                            <div id="myCarousel" class="carousel slide">
                                <!-- 轮播（Carousel）指标 -->
                                <ol class="carousel-indicators">
                                    {% for img in product.img_list %}
                                        <li data-target="#myCarousel"></li>
                                    {% endfor %}
                                </ol>

                                <!-- 轮播（Carousel）项目 -->
                                <div class="carousel-inner">
                                    {% for img in product.img_list %}
                                        {% if loop.first %}
                                            <div class="item active">
                                        {% else %}
                                            <div class="item">
                                        {% endif %}
                                    <img src="{{ img }}"/>
                                    </div>
                                    {% endfor %}
                                    </div>
                                    <!-- 轮播（Carousel）导航 -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button"
                                       data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                        <div class="col-sm-7">
                            <div class="title">{{ product.title }}</div>
                            <div class="price">
                                <label>Price</label>
                                <em>$</em>
                                <span>{{ product.price }}</span>
                            </div>
                            <div class="sales_and_reviews">
                                <div class="sold_count">Sold Count
                                    <span class="count">{{ product.sold_count }}</span>
                                </div>
                                <div class="review_count">Custom Reviews
                                    <span class="count">{{ product.review_count }}</span>
                                </div>
                                <div class="rating" title="rating {{ product.rating }}">Rating
                                    <span class="count">{{ '★' * product.rating|int }}{{ '☆'* (5 - product.rating|int) }}</span>
                                </div>
                            </div>
                            <div class="skus">
                                <label>Specification</label>
                                <div class="btn-group" data-toggle="buttons">
                                    {% for sku in product.sku %}
                                        <label
                                                class="btn btn-default sku-btn"
                                                data-price="{{ sku.price }}"
                                                data-stock="{{ sku.stock }}"
                                                data-toggle="tooltip"
                                                title="{{ sku.description }}"
                                                data-placement="bottom">
                                            <input type="radio" name="skus" autocomplete="off" value="{{ sku.id }}">
                                            {{ sku.title }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="cart_amount">
                                <label>Quantity</label>
                                <input type="text" class="form-control input-sm" value="1">
                                <span>件</span>
                                <span class="stock"></span>
                            </div>
                            <div class="buttons">
                                {% if favored %}
                                    <button class="btn btn-danger btn-disfavor">Dis Like</button>
                                {% else %}
                                    <button class="btn btn-success btn-favor">❤ Like</button>
                                {% endif %}
                                <button class="btn btn-primary btn-add-to-cart">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="product-detail">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#product-detail-tab" aria-controls="product-detail-tab" role="tab"
                                   data-toggle="tab">Product Details</a>
                            </li>
                            <li role="presentation">
                                <a href="#product-reviews-tab" aria-controls="product-reviews-tab" role="tab"
                                   data-toggle="tab">Custom Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="product-detail-tab">
                                {{ product.description }}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="product-reviews-tab">
                                <!-- TODO:评论列表开始 -->

                                <!-- 评论列表结束 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#myCarousel").carousel('cycle');
            $('[data-toggle="tooltip"]').tooltip({trigger: 'hover'});
            $('.sku-btn').click(function () {
                $('.product-info .price span').text($(this).data('price'));
                $('.product-info .stock').text('Stock：' + $(this).data('stock'));
            });
            $('.sku-btn').eq(0).click();

            $('.btn-favor').click(function () {
                axios.post("{{ url_for('product.favor', id=product.id) }}")
                    .then(function () {
                        swal('Operate Success!', '', 'success')
                            .then(function () {  // 这里加了一个 then() 方法
                                location.reload();
                            });
                    }, function (error) {
                        if (error.response && error.response.status === 401) {
                            swal('Try login first', '', 'error');
                        } else {
                            swal('System error', '', 'error');
                        }
                    });
            });

            $('.btn-disfavor').click(function () {
                axios.delete("{{ url_for('product.favor', id=product.id) }}")
                    .then(function () {
                        swal('Operate Success!', '', 'success')
                            .then(function () {
                                location.reload();
                            });
                    });
            });

            // 加入购物车按钮点击事件
            $('.btn-add-to-cart').click(function () {
                // 请求加入购物车接口
                axios.post("{{ url_for('cart.add')  }}", {
                    sku_id: $('label.active input[name=skus]').val(),
                    amount: $('.cart_amount input').val(),
                })
                    .then(function () { // 请求成功执行此回调
                        swal('Add cart success!', '', 'success')
                            .then(function () {
                                location.href = '';
                            });
                    }, function (error) { // 请求失败执行此回调
                        if (error.response.status === 401) {
                            // http 状态码为 401 代表用户未登陆
                            swal('Try login first', '', 'error');
                        } else if (error.response.status === 422) {
                            // http 状态码为 422 代表用户输入校验失败
                            swal(error.response.data, '', 'error')
                        } else {
                            // 其他情况应该是系统挂了
                            swal('System error', '', 'error');
                        }
                    })
            });

        });
    </script>
{% endblock %}