{% import '_macros.html' as macros %}
<div class="order-details__addresses">
    <div class="row">
        {% if order.is_shipping_required %}
            <div class="col-6">
                <h3>
                    Shipping address
                </h3>
                {{ macros.format_address(order.shipping_address) }}
            </div>
        {% endif %}
    </div>
</div>
<div class="table__header order-details__table-header d-none d-sm-block">
    <div class="row">
        <div class="col-md-8">
            <small>
                Product
            </small>
        </div>
        <div class="col-md-2 text-right">
            <small>
                Quantity
            </small>
        </div>
        <div class="col-md-2 text-right">
            <small>
                Price
            </small>
        </div>
    </div>
</div>

{% for line in order.lines %}
    <div class="table__row order-details__product{% if loop.last %} order-details__last-row{% endif %}">
        <div class="row">
            <div class="col-md-8">
                <a class="link--clean" href="{% if line.variant %}{{ line.variant.get_absolute_url }}{% endif %}">
                    <img class="float-left lazyload lazypreload"
                         src="{{ line.variant.product.get_first_img }}">
                    <span class="order-details__product__description">{{ line.product_name }}</span>
                </a>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <p class="float-right">x {{ line.quantity }}</p>
                    </div>
                    <div class="col-md-6 col-12">
                        <p class="float-right">
                            ${{ line.get_total() }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<div class="table__row">
    <div class="row">
        <div class="col-8 order-details__table-footer">
            <p>
                Subtotal
            </p>
        </div>
        <div class="col-4">
            <p class="float-right">
                ${{ order.get_subtotal() }}
            </p>
            <br>
        </div>
    </div>
</div>

{% if order.is_shipping_required %}
    <div class="table__row">
        <div class="row">
            <div class="col-8 order-details__table-footer">
                <p>
                    Shipping
                    ({{ order.shipping_method_name}})
                </p>
            </div>
            <div class="col-4">
                <p class="float-right">
                    ${{ order.get_subtotal() }}
                </p>
            </div>
        </div>
    </div>
{% endif %}

{% if order.discount_amount %}
    <div class="table__row">
        <div class="row">
            <div class="col-8 order-details__table-footer">
                <p>{{ order.discount_name }}</p>
            </div>
            <div class="col-4">
                <p class="float-right">
                    {{ order.discount_amount  }}
                </p>
            </div>
        </div>
    </div>
{% endif %}



<div class="order-details__total">
    <div class="row">
        <div class="col-8 order-details__table-footer">
            <div class="total">
                <h3>Total</h3>
            </div>
        </div>
        <div class="col-4">
            <p class="float-right">
                {{ order.total_net  }}
            </p>
        </div>
    </div>
</div>


{#{% for fulfillment in fulfillments %}#}
{#    <h2 class="order-details__header">#}
{#        {% blocktrans trimmed with fulfillment=fulfillment.composed_id context "Order details fulfillment title" %}#}
{#            Fulfillment #{{ fulfillment }}#}
{#        {% endblocktrans %}#}
{#    </h2>#}
{##}
{#    <div class="table__header order-details__table-header d-none d-sm-block">#}
{#        <div class="row">#}
{#            <div class="col-md-9">#}
{#                <small>#}
{#                    {% trans "Product" context "Order details column title" %}#}
{#                </small>#}
{#            </div>#}
{#            <div class="col-md-3 text-right">#}
{#                <small>#}
{#                    {% trans "Quantity" context "Order details column title" %}#}
{#                </small>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    {% for line in fulfillment %}#}
{#        <div class="table__row fulfillment__row order-details__product{% if forloop.last %} order-details__last-row{% endif %}">#}
{#            <div class="row">#}
{#                <div class="col-md-6 col-9">#}
{#                    <a class="link--clean"#}
{#                       href="{% if line.variant.product %}{{ line.variant.product.get_absolute_url }}{% endif %}">#}
{#                        <span class="order-details__product__description">{{ line.order_line.product_name }}</span>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-md-6 col-3">#}
{#                    <p class="float-right">x {{ line.quantity }}</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#    {% if fulfillment.tracking_number %}#}
{#        <div class="order-details__total">#}
{#            <div class="row">#}
{#                <div class="col-4 order-details__table-footer">#}
{#                    <p>{% trans "Tracking number" context "Fulfillment tracking number details" %}</p>#}
{#                </div>#}
{#                <div class="col-8">#}
{#                    <p class="float-right">{{ fulfillment.tracking_number }}</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{#{% endfor %}#}
