.inline-form-field {
    border-top: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
}

.list-buttons-column a {
    display: block;
    float: left;
    color: #000;
}

.list-buttons-column button {
    display: block;
    border: none;
}

.list-buttons-column form {
    margin-bottom: 0;
}

.dropdown-menu {
    min-width: 9em;
}

.dropdown-menu li {
    padding-left: 15px;
}

.card-title .dropdown {
    float: left;
    margin-right: 10px;
}

.col-title, .col-on_sale, .col-rating, .col-sold_count, .col-review_count,
.col-price, .col-user, .col-total_amount, .col-type, .col-value, .col-enabled,
.col-min_amount, .col-used_total, .col-active, .col-is_admin {
    text-align: center;
}

.list-buttons-column {
    text-align: center;
}

.button-groups {
    display: inline-flex;
}

#filter_form {
    display: inline-flex;
    flex-direction: row-reverse;
}

.inline-field {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    margin: .375rem 0;
}

.select2-container, .selection, .select2-selection{
    padding-bottom: 5px;
}

.field-list-item{
    margin-bottom: 3px;
}


#banner {
    margin: 0 auto;
    background: #ebebeb;
    width: 400px;
    height: 400px;
}

#banner ul {
    position: absolute;
    width: 400px;
    height: 400px;
    overflow: hidden;
    padding: 0;
}

#banner li {
    display: none;
    list-style: none;
    width: 100%;
}

#banner img {
    width: 400px;
    height: 400px;
}

#banner .b-btn {
    display: inline-block;
    height: 400px;
    width: 30px;
    font: 30px/300px '微软雅黑';
    text-align: center;
    color: #8B7B8B;
    opacity: 0.2;
    /*防止双击的时候出现蓝底*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#banner .b-btn:hover {
    background: #cdc1c5;
    color: #f8f8ff;
    opacity: 0.5;
    cursor: pointer;
}

#banner .right {
    float: right;
}

.img_field {
    width: 100%;
    height: 150px;
}
.img_block {
    text-align: center;
    float: left;
    width:120px;
}
.img_block img{
    width: 110px;
}

.activity{
    list-style: none;
    margin: 0;
    padding: 0;
}

.activity .item{
    border-radius: .25rem;
    background: #fff;
    padding: 10px;
}

.activity .activity-title{
    color: #000;
    font-size: 18px;
}

.activity span{
    display: block;
    color: #6c757d;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navi-card{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navi-card li{
    font-size: 18px;
    display: block;
    padding:20px;
}
.navi-card li:hover{
    background-color: rgba(0,0,0,.075);
}

.navi-card a{
    color: #212529;
}

.navi-card .right{
    float: right;
}

.progress-description{
    width: 90%;
    white-space: normal;
}

.info-box-config{
    color: #212529;
}

.info-box-config .info-box{
    min-height: 100px;
}

.info-box-config .info-box:hover{
    color: #212529;
    background-color:rgba(0,0,0,.075);
}

.brand-link{
    height: 64px;
}