{% import 'dashboard/_macros.html' as macros%}
{% import 'dashboard/_vendor.html' as vendor%}
{% extends 'dashboard/layout.html' %}

{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% if 'edit' in request.path %}Edit{% else %}Create{% endif %} Attribute
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="POST" action="">
                        <div class="card-body">
                            {{ form.hidden_tag() }}
                            {{ vendor.render_field(form.title) }}
                            {{ macros.render_field_list(form.values) }}
                            {{ macros.render_select_multi_field(form.types, product_types) }}

                            <div class="card-footer">
                                {{ macros.render_submit(form.submit) }}
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block tail_js %}
<script src="{{ url_for('static', filename='build/dashboard/attribute.js') }}"></script>
{% endblock %}