{% import 'dashboard/_macros.html' as macros %}
{% extends 'dashboard/layout.html' %}
{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <a href="{{url_for('product.show', id=product.id)}}" target="_blank">{{product.title}}</a>
                        </h3>
                        <div class="card-tools" style="display: flex;">
                            <div class="input-group input-group-sm">
                                <a href="{{url_for('dashboard.product_edit', id=product.id)}}"
                                    class="btn btn-primary btn-sm" style="margin-right: 5px;">{% trans %}Edit{% endtrans %}</a>
                                <a data-url="products/{{product.id}}/delete" data-redirect="1"
                                    class="btn btn-danger btn-sm delete-btn">{% trans %}Delete{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="banner">
                                    <ul>
                                        {% for img in product.images %}
                                        <li><img src="{{img}}" class="loop-image"></li>
                                        {% endfor %}
                                    </ul>
                                    <span class="b-btn left">
                                        < </span> <span class="b-btn right"> >
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group mb-3">
                                    <li class="list-group-item">
                                        <b>{% trans %}On Sale{% endtrans %}</b> <span
                                            class="float-right">{{macros.render_boolean(product.on_sale)}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <b>{% trans %}Price{% endtrans %}</b> <span class="float-right">${{product.price}} /
                                            ${{product.basic_price}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <b>{% trans %}Rating{% endtrans %}</b> <span class="float-right">{{product.rating}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <b>{% trans %}Sold Count{% endtrans %}</b> <span class="float-right">{{product.sold_count}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <b>{% trans %}Review Count{% endtrans %}</b> <span class="float-right">{{product.review_count}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <b>{% trans %}Category{% endtrans %}</b> <span class="float-right">{{product.category}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <b>{% trans %}ProductType{% endtrans %}</b> <span class="float-right">{{product.product_type}}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <b>{% trans %}Created{% endtrans %}</b> <span class="float-right">{{product.created_at}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <p class="lead">{% trans %}Product Description{% endtrans %}:</p>
                            <p class="text-muted well well-sm no-shadow">
                                {{product.description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="m-0">{% trans %}Variants{% endtrans %}</h5>
                        <div class="card-tools" style="display: flex;">
                            <div class="input-group input-group-sm">
                                <a href="{{url_for('dashboard.variant_manage', product_id=product.id)}}"
                                    class="btn btn-success btn-sm">{% trans %}Create{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <th>{% trans %}ID{% endtrans %}</th>
                                <th>{% trans %}SKU{% endtrans %}</th>
                                <th>{% trans %}Title{% endtrans %}</th>
                                <th>{% trans %}Quantity{% endtrans %}</th>
                                <th>{% trans %}PriceOverride{% endtrans %}</th>
                                <th>{% trans %}Operation{% endtrans %}</th>
                            </tr>
                            {% for item in product.variant %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.sku}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.price_override}}</td>
                                <td>
                                    <a href="{{url_for('dashboard.variant_manage', id=item.id)}}"
                                        class="btn btn-primary btn-sm">{% trans %}Edit{% endtrans %}</a>
                                    <a data-url="variants/{{item.id}}/delete"
                                        class="btn btn-danger btn-sm delete-btn">{% trans %}Delete{% endtrans %}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

{% endblock %}

{% block tail_js %}
<script src="{{ url_for('static', filename='build/dashboard/product_detail.js') }}"></script>
{% endblock %}