{% extends 'dashboard/layout.html' %}
{% import 'dashboard/_macros.html' as macros %}
{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <a href="{{ url_for('product.show', id=product.id) }}"
                                   target="_blank">{{ product.title }}</a>
                            </h3>
                            <div class="card-tools" style="display: flex;">
                                <div class="input-group input-group-sm">
                                    <a href="{{ url_for('dashboard.product_edit', id=product.id) }}"
                                       class="btn btn-primary btn-sm" style="margin-right: 5px;">{% trans %}
                                        Edit{% endtrans %}</a>
                                    <a class="btn btn-danger btn-sm"
                                       v-delete='{"delete-url": "products/{{ product.id }}/delete", "redirect-url": "/dashboard/products"}'
                                    >{% trans %}Delete{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div v-scope @vue:mounted="autoPlay()" id="banner">
                                        <div class="pic-container" @mouseenter="stopPlay()">
                                            <div id="imgBox" class="img-box" :style="{left: left + 'px'}">
                                                {% for img in product.images %}
                                                    <img src="{{ img }}" class="loop-image">
                                                {% endfor %}
                                            </div>
                                            <a class="prev" @click="prev"><</a>
                                            <a class="next" @click="next">></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item">
                                            <b>{% trans %}On Sale{% endtrans %}</b> <span
                                                class="float-right">{{ macros.render_boolean(product.on_sale) }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>{% trans %}Price{% endtrans %}</b> <span
                                                class="float-right">${{ product.price }} /
                                            ${{ product.basic_price }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>{% trans %}Rating{% endtrans %}</b> <span
                                                class="float-right">{{ product.rating }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>{% trans %}Sold Count{% endtrans %}</b> <span
                                                class="float-right">{{ product.sold_count }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>{% trans %}Review Count{% endtrans %}</b> <span
                                                class="float-right">{{ product.review_count }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>{% trans %}Category{% endtrans %}</b> <span
                                                class="float-right">{{ product.category }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>{% trans %}ProductType{% endtrans %}</b> <span
                                                class="float-right">{{ product.product_type }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>{% trans %}Created{% endtrans %}</b> <span
                                                class="float-right">{{ product.created_at }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <p class="lead">{% trans %}Product Description{% endtrans %}:</p>
                                <p class="text-muted well well-sm no-shadow">
                                    {{ product.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="m-0">{% trans %}Variants{% endtrans %}</h5>
                            <div class="card-tools" style="display: flex;">
                                <div class="input-group input-group-sm">
                                    <a href="{{ url_for('dashboard.variant_manage', product_id=product.id) }}"
                                       class="btn btn-success btn-sm">{% trans %}Create{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <tr>
                                    <th>{% trans %}ID{% endtrans %}</th>
                                    <th>{% trans %}SKU{% endtrans %}</th>
                                    <th>{% trans %}Title{% endtrans %}</th>
                                    <th>{% trans %}Quantity{% endtrans %}</th>
                                    <th>{% trans %}PriceOverride{% endtrans %}</th>
                                    <th>{% trans %}Operation{% endtrans %}</th>
                                </tr>
                                {% for item in product.variant %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.sku }}</td>
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price_override }}</td>
                                        <td>
                                            <a href="{{ url_for('dashboard.variant_manage', id=item.id) }}"
                                               class="btn btn-primary btn-sm">{% trans %}Edit{% endtrans %}</a>
                                            <a class="btn btn-danger btn-sm"
                                               v-delete='{"delete-url": "variants/{{ item.id }}/delete"}'
                                            >{% trans %}
                                                Delete{% endtrans %}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- /.container-fluid -->


    </section>

{% endblock %}

{% block tail_js %}
    <script src="{{ url_for('static', filename='dashboard/banner.js') }}"></script>

    <style>
        .pic-container {
            width: 400px; /* 容器宽度 */
            height: 400px; /* 容器高度 */
            overflow: hidden; /* 隐藏溢出部分 */
            position: relative; /* 相对定位 */
        }

        .img-box {
            height: 400px; /* 图片容器高度 */
            position: relative; /* 相对定位 */
            z-index: 0;
        }

        .img-box img {
            width: 400px; /* 图片宽度 */
            height: 400px; /* 图片高度 */
            float: left; /* 左浮动 */
        }

        .prev, .next {
            position: absolute;
            height: 400px;
            width: 30px;
            font: 30px/300px '微软雅黑';
            text-align: center;
            color: #8B7B8B;
            opacity: 0.2;
            z-index: 50;
            user-select: none;
        }

        .prev:hover, .next:hover {
            background: #cdc1c5;
            color: #f8f8ff;
            opacity: 0.5;
            cursor: pointer;
        }

        .prev {
            left: 0;
            top: 0;
        }

        .next {
            right: 0;
            top: 0;
        }


    </style>
{% endblock %}
