{% import 'dashboard/_macros.html' as macros%}
{% import 'dashboard/_vendor.html' as vendor%}
{% extends 'dashboard/layout.html' %}

{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Product Step 2</h3>
                    </div>
                    <form method="POST" action="">
                        <div class="card-body">
                            {{ form.hidden_tag() }}
                            <label>Type:</label> {{product_type}}
                            {{ vendor.render_field(form.title) }}
                            {{ vendor.render_field(form.basic_price) }}
                            {{ vendor.render_field(form.on_sale) }}
                            {{ vendor.render_field(form.is_featured) }}
                            {{ vendor.render_field(form.rating) }}
                            {{ vendor.render_field(form.sold_count) }}
                            {{ vendor.render_field(form.review_count) }}
                            {{ macros.render_select_field(form.category_id, categories) }}
                            {{ vendor.render_field(form.description) }}
                            {{ macros.render_multi_img(form.images) }}
                            {{ macros.render_attribute_field(form.attributes, product_type.product_attributes) }}
                            <div class="card-footer">
                                {{ macros.render_submit(form.submit) }}
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block tail_js %}
<script src="{{ url_for('static', filename='build/dashboard/product_edit.js') }}"></script>
{% endblock %}