{% import 'dashboard/adminlte/_macros.html' as macros%}
{% import 'dashboard/adminlte/_vendor.html' as vendor%}
{% extends 'dashboard/adminlte/layout.html' %}
{% block head_tail %}
<link href="{{ url_for('static', filename='dashboard/plugins/select2/select2.min.css') }}" rel="stylesheet">
{{super()}}
{% endblock %}
{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{% if 'edit' in request.path %}Edit{% else %}Create{% endif %} Attribute
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="POST" action="">
                        <div class="card-body">
                            {{ form.hidden_tag() }}
                            {{ vendor.render_field(form.title) }}
                            {{ macros.render_field_list(form.values) }}
                            {{ macros.render_select_multi_field(form.types, product_types) }}

                            <div class="card-footer">
                                {{ macros.render_submit(form.submit) }}
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block tail_js %}
<script src="{{ url_for('static', filename='dashboard/plugins/select2/select2.min.js') }}"></script>

<script>
    $(function () {
        $('.select2').select2();
    });
    var add_btn = $("#add_entry");
    var index = add_btn.data('index');
    var field = add_btn.data('field');
    add_btn.click(function () {
        var index_field = field + '-' + index;
        var html = '<div class="input-group input-group-sm field-list-item"><input type="text" class="form-control" id="' + index_field + '" name="' + index_field + '" ><span class="input-group-append"><button type="button" class="btn btn-info btn-flat" id="item_del">Remove Entry</button></span></div>';
        $('#field_list').append(html);
        index += 1;
    });
    $('#field_list').on('click', '#item_del', function () {
        $(this).parent().parent().remove();
    });

</script>
{% endblock %}