{% import 'dashboard/_macros.html' as macros %}
{% extends 'dashboard/layout.html' %}
{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="{{ user.avatar }}"
                                alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center">{{user.username}}</h3>

                        <p class="text-muted text-center">{{user.email}}</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Is Active</b> <a class="float-right">{{macros.render_boolean(user.is_active)}}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Registed</b> <a class="float-right">{{user.created_at.strftime('%Y-%m-%d')}}</a>
                            </li>
                        </ul>

                        <a href="{{url_for('dashboard.user_edit', user_id=user.id)}}"
                            class="btn btn-primary btn-block"><b>Edit</b></a>
                        <a class="btn btn-danger btn-block delete-btn"
                            data-url="users/{{user.id}}/delete"><b>Delete</b></a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#address"
                                    data-toggle="tab">Addresses</a></li>
                            <li class="nav-item"><a class="nav-link" href="#order" data-toggle="tab">Orders</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="address">
                                {% if addresses|list|length > 0 %}
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">ID</th>
                                        <th>Contact Name</th>
                                        <th>Contact Phone</th>
                                        <th style="width: 40px">Operation</th>
                                    </tr>
                                    {% for address in addresses %}
                                    <tr>
                                        <td>{{address.id}}</td>
                                        <td>{{address.contact_name}}</td>
                                        <td>{{address.contact_phone}}</td>
                                        <td style="text-align:center"><a
                                                href="{{url_for('dashboard.address_edit', id=address.id)}}"
                                                class="btn btn-primary btn-sm">Edit</a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                                {% else %}
                                <h6 class="card-title">This user have not add address</h6>
                                {% endif %}
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="order">
                                {% if orders|list|length > 0 %}
                                <table class="table table-bordered">
                                    <tr>
                                        <th>ID</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                        <th>Created At</th>
                                        <th style="width: 40px">Operation</th>
                                    </tr>
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{order.identity}}</td>
                                        <td>{{order.status}}</td>
                                        <td>{{order.total_net}}</td>
                                        <td>{{order.created_at}}</td>
                                        <td style="text-align:center"><a href="" class="btn btn-info btn-sm">View</a>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </table>
                                {% else %}
                                <h6 class="card-title">This user have not create orders</h6>
                                {% endif %}
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

{% endblock %}

{% block tail_js %}
<script src="{{ url_for('static', filename='build/dashboard/user_detail.js') }}"></script>
{% endblock %}