<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('public.home') }}">

                flask shop

            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user and current_user.is_authenticated %}
                    <li>
                        <a href="{{ url_for('cart.index') }}"><span class="glyphicon glyphicon-shopping-cart"
                                                                    aria-hidden="true"></span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="user-avatar pull-left" style="margin-right:8px; margin-top:-5px;">
                                <img src="https://fsdhubcdn.phphub.org/uploads/images/201709/20/1/PtDKbASVcz.png?imageView2/1/w/60/h/60"
                                     class="img-responsive img-circle" width="30px" height="30px">
                            </span>
                            {{ current_user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ url_for('user.addresses') }}">My Address</a>
                            </li>
                            <li>
                                <a href="{{ url_for('user.members') }}">My Orders</a>
                            </li>
                            <li>
                                <a href="{{ url_for('product.favorites') }}">My Favorites</a>
                            </li>
                            <li>
                                <a href="{{ url_for('public.logout') }}"> Log Out </a>
                            </li>
                        </ul>
                    </li>


                {% else %}

                    <li><a href="{{ url_for('public.login') }}">Login</a></li>
                    <li><a href="{{ url_for('public.register') }}">Create account</a></li>

                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

