#sku {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
}

.inline-form-field {
    border-top: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
}

.list-buttons-column a {
    display: block;
    float: left;
    color: #000;
}

.list-buttons-column button {
    display: block;
    border: none;
}

.list-buttons-column form {
    margin-bottom: 0;
}

.dropdown-menu {
    min-width: 9em;
}

.dropdown-menu li {
    padding-left: 15px;
}

.card-title .dropdown {
    float: left;
    margin-right: 10px;
}

.col-title, .col-on_sale, .col-rating, .col-sold_count, .col-review_count,
.col-price, .col-user, .col-total_amount, .col-type, .col-value, .col-enabled,
.col-min_amount, .col-used_total, .col-active, .col-is_admin {
    text-align: center;
}

.list-buttons-column {
    text-align: center;
}

.button-groups {
    display: inline-flex;
}

#filter_form {
    display: inline-flex;
    flex-direction: row-reverse;
}

.inline-field {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    margin: .375rem 0;
}

.select2-container, .selection, .select2-selection{
    padding-bottom: 5px;
}

.field-list-item{
    margin-bottom: 3px;
}


#banner {
    margin: 0 auto;
    background: #ebebeb;
    width: 400px;
    height: 400px;
}

#banner ul {
    position: absolute;
    width: 400px;
    height: 400px;
    overflow: hidden;
    padding: 0;
}

#banner li {
    display: none;
    list-style: none;
    width: 100%;
}

#banner img {
    width: 400px;
    height: 400px;
}

#banner .b-btn {
    display: inline-block;
    height: 400px;
    width: 30px;
    font: 30px/300px '微软雅黑';
    text-align: center;
    color: #8B7B8B;
    opacity: 0.2;
    /*防止双击的时候出现蓝底*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#banner .b-btn:hover {
    background: #cdc1c5;
    color: #f8f8ff;
    opacity: 0.5;
    cursor: pointer;
}

#banner .right {
    float: right;
}

.img_field {
    width: 100%;
    height: 150px;
}
.img_block {
    text-align: center;
    float: left;
    width:120px;
}
.img_block img{
    width: 110px;
}