{% macro render_input_field(field) %}
{% set label_id = field.label.field_id %}
{% if label_id in ('email', 'password') %}
{% set type = label_id %}
{% else %}
{% set type = 'text' %}
{% endif %}
<div class="form-group">
    <label for="{{label_id}}">{{ field.label.text }} </label>
    <input type="{{type}}" class="form-control" id="{{label_id}}" name="{{label_id}}" value="{% if field.data %}{{ field.data }}{% elif field.default is not none %}{{field.default}}{% endif %}">
    {% if field.errors %}
    <div class="invalid-feedback" style="display:block">
        {{ field.errors[0] }}
    </div>
    {% endif %}
</div>
{% endmacro %}


{% macro render_submit(field) %}
<button type="submit" class="btn btn-primary">{{ field.label.text }}</button>
<button type="" class="btn btn-default float-right">Cancel</button>
{% endmacro %}

{% macro render_select_field(field, items) %}
{% set label_id = field.label.field_id %}
<div class="form-group">
    <label>{{ field.label.text }}</label>
    <select class="form-control select2" style="width: 100%;" name="{{ label_id }}">
        <option value="0">None</option>
        {% for item in items %}
        <option value="{{ item.id }}" {% if item.id==field.data|int %} selected {% endif %}>
            {{ item.title }}
        </option>
        {% endfor %}
    </select>
</div>
{% endmacro %}