{% extends 'dashboard/layout.html' %}
{% block body %}
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-8">

                <!-- /.card -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-success elevation-1"><i
                                    class="fa fa-shopping-cart"></i></span>

                            <div class="info-box-content">
                                <span class="info-box-text">Today Sales</span>
                                <span class="info-box-number">760</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        <div class="info-box mb-3">
                            <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-users"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">New Members</span>
                                <span class="info-box-number">2,000</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <div class="card">
                    <div class="card-body p-0">
                        <ul class="navi-card">
                            <li class="item">
                                <a href="#">
                                    <span>166 Orders are ready to fulfill</span>
                                    <span class="right">></span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    <span>59 Payments to capture</span>
                                    <span class="right">></span>
                                </a>
                            </li>
                            <li class="item">
                                <a href="#">
                                    <span>No products out of stock</span>
                                    <span class="right">></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Top Products</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="products-list product-list-in-card pl-2 pr-2">
                            <li class="item">
                                <div class="product-img">
                                    <img src="{{ url_for('static', filename='img/adminlte/default-150x150.png') }}"
                                        alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">Samsung TV
                                        <span class="badge badge-warning float-right">$1800</span></a>
                                    <span class="product-description">
                                        Samsung 32" 1080p 60Hz LED Smart HDTV.
                                    </span>
                                    <span class="product-description">
                                        24 Ordered
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="{{ url_for('static', filename='img/adminlte/default-150x150.png') }}"
                                        alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">Bicycle
                                        <span class="badge badge-info float-right">$700</span></a>
                                    <span class="product-description">
                                        26" Mongoose Dolomite Men's 7-speed, Navy Blue.
                                    </span>
                                    <span class="product-description">
                                        10 Ordered
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                            <li class="item">
                                <div class="product-img">
                                    <img src="{{ url_for('static', filename='img/adminlte/default-150x150.png') }}"
                                        alt="Product Image" class="img-size-50">
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        Xbox One <span class="badge badge-danger float-right">
                                            $350
                                        </span>
                                    </a>
                                    <span class="product-description">
                                        Xbox One Console Bundle with Halo Master Chief Collection.
                                    </span>
                                    <span class="product-description">
                                        1 Ordered
                                    </span>
                                </div>
                            </li>
                            <!-- /.item -->
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Activity</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <ul class="activity product-list-in-card pl-2 pr-2">
                            <li class="item">
                                <span class="activity-title">Order #232 was placed</span>
                                <span>5 hours ago</span>
                            </li>
                            <li class="item">
                                <span class="activity-title">Order #231 was placed</span>
                                <span>9 hours ago</span>
                            </li>
                            <li class="item">
                                <span class="activity-title">Order #230 was placed</span>
                                <span>14 hours ago</span>
                            </li>
                            <li class="item">
                                <span class="activity-title">Order #229 was placed</span>
                                <span>a day ago</span>
                            </li>
                            <li class="item">
                                <span class="activity-title">Order #228 was placed</span>
                                <span>a day ago</span>
                            </li>
                            <li class="item">
                                <span class="activity-title">Order #227 was placed</span>
                                <span>2 days ago</span>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!--/. container-fluid -->
</section>
{% endblock %}