{% block head_tail %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='build/dashboard/layout.css') }}">
{% endblock %}


<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

{% block page_body %}

<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{{url_for('dashboard.index')}}" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{{url_for('public.home')}}" class="nav-link" target="_blank">Front Site</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fa fa-th-large"></i>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="{{ url_for('dashboard.index') }}" class="brand-link">
                <img src="{{ url_for('static', filename='img/logo.svg') }}"
                    class="brand-image" >
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="{{ current_user.avatar }}" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">{{current_user.username}}</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        {%- for item in menus %}
                        <li class="nav-item has-treeview {% if item.is_active() %}menu-open{% endif %}">
                            <a href="{{item.get_url()}}" class="nav-link {%- if item.is_active() %} active{% endif %}">
                                <i class="fa nav-icon {{ item.icon_cls }}"></i>
                                <p>{{ item.title }}
                                    {%- if item.children %}<i class="right fa fa-angle-left"></i>{% endif %}
                                </p>
                            </a>
                            {%- if item.children %}
                            <ul class="nav nav-treeview">
                                {%- for child in item.children -%}
                                <li class="nav-item">
                                    <a href="{{ child.get_url() }}"
                                        class="nav-link {%- if child.is_active() %} active{%- endif %}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>{{ child.title }}</p>
                                    </a>
                                </li>
                                {%- endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                </div>
            </section>
            <section class="content">
            {% for message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{ message[0] }}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message[1] }}
            </div>
            {% endfor %}
        </section>
            {% block body %} {% endblock %}
        </div>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    <script src="{{ url_for('static', filename='build/dashboard/layout.js') }}"></script>
    {% block tail_js %} {% endblock %}
</body>
{% endblock %}