{% extends 'dashboard/layout.html' %}
{% block body %}
<section class="content">
    <div class="container-fluid">

        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{title}}</h3>

                        <div class="card-tools" style="display: flex;">
                            <div class="input-group input-group-sm">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <div class="input-group input-group-sm" style="width:auto;margin-left: 10px;">
                                <a href="{{url_for(create_endpoint)}}" class="btn btn-success btn-sm">Create</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tr>
                                {% for th in props.values() %}
                                <th>{{th}}</th>
                                {% endfor %}
                                <th>Operation</th>
                            </tr>
                            {% for item in items %}
                            <tr>
                                {% for prop in props.keys() %}
                                <td>{{ item | attr(prop) }}</td>
                                {% endfor %}
                                <td>
                                    <a href="{{url_for(edit_endpoint, menu_id=item.id)}}" class="btn btn-info btn-sm">Edit</a>
                                    <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

{% endblock %}